name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Install prerequisites
      run: make init

    - name: Build
      run: make build

    #Code Climate 
    - name: Run Coverage
      uses: paambaati/codeclimate-action@v2.6.0
      env:
        CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
      with:
        coverageCommand: make test
        coverageLocations: ${{github.workspace}}/cover.out:gocov
        prefix: terraform-provider-minikube/m/v2

    # temporarily disabled due to limited gh runner resources
    # - name: Acceptance
    #   run: make acceptance

